li{
	margin:8px 12px 0px 8px; 
	padding:0px;
	width:100%;
}

label {
	display: block;
	float: left;
}

/*/Define um tamanho, impedindo que fiquem desalinhados*/

label, input {
	width:68px;
	margin: 3px 0;
}

/* AUMENTA A largura do INPUT*/
input {
	width:200px;
}

/*Define uma largura para a parte subliada de fora*/
fieldset {
	
	width:200px;

}

